<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer" class="footer navbar-fixed-bottom text-center">
    &copy; 2017 Footer
</div>

<div th:fragment="footer-admin" class="footer navbar-fixed-bottom text-center">
    &copy; 2017 Admin Footer
</div>
</body>
</html>
