<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=
              "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title >Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/employees.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form action="#" th:action="@{/admin/employees/edit}"  method="post">
        <input type="hidden" id="empId" name="empId" t th:value="${employee.empId}"/>
        <input type="text" id="fname" name="fname" th:value="${employee.fname}"  placeholder="fname"/>
        <input type="text" id="lname" name="lname" th:value="${employee.lname}"  placeholder="lname"/>
        <input type="number" id="rank" name="rank" min="0" max="4" th:value="${employee.rank}" placeholder="rank"/>

        <input type="submit" value="save">
    </form>
    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>
</html>